@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/*VARIAVEIS*/
:root{

    --cor_principal: #000000;
    --cor_segundaria:white;
    --Cor_terciaria: aquamarine;
    --font_primaria:'Krona One', sans-serif;
    --font_secundaria:'Montserrat', sans-serif ;
}
/*-----------------------*/



*{
    margin: 0;
    padding: 0;
}

body {
    
    box-sizing: border-box;
    background-color: var(--cor_principal);
    color:var(--cor_segundaria);
}

.titulo_destaque {
    color: var(--Cor_terciaria);
}

.apresentacao {
    padding: 6% 15%;
    display: flex; /*Flex Box deixar tudo em linha */
    align-items: center;
    justify-content:space-between ; /*Separar as coisas */
    gap: 82px ;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
     
}


.apresentacao__conteudo__titulo{
    font-size:2.25rem ;
    font-family:var(--font_primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family:var(--font_secundaria);
    
}
.img_central{
    border:3px solid var(--Cor_terciaria);
    border-radius: 16px;
}

.apresentacao__botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    gap: 32px;
}

.apresentacao__botoes_subtitulos{
    font-family:var(--font_primaria);
    font-weight: 400;
    font-size: 1.5rem;
}


.apresentacao__botoes__botao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width:50%;
    text-align: center;
    border-radius:8px ;
    font-size: 1.5rem;
    padding: 21.5px  0;
    color:var(--cor_segundaria);
    font-family:var(--font_secundaria);
    font-weight: 600;
    border: 2px solid var(--Cor_terciaria);
    text-decoration: none;
}


.apresentacao__botoes__botao:hover{
    background-color: rgb(60, 71, 71);
}


/*__________________BOTOES EM CIMA DA FOTO___________________________________ */

.conteudo__extra{
    width: 50%;
    display: flex;
    gap: 100px; /*altura entre imagem e home */
    flex-direction: column;
}



.conteudo__extra__botao{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    
}

.cabecalho__menu__link{

    border: 2px solid var(--Cor_terciaria);
    color:var(--cor_segundaria);
    padding: 21.5px  0;
    width:250px;
    text-align: center;
    font-family:var(--font_secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    border-radius:8px ;
}

.cabecalho__menu__link:hover{
    background-color: rgb(60, 71, 71);
}

.cabecalho__menu{
    display: flex;
    column-gap: 10%;
}
/*____________________________________________________________________*/

.rodape{
    background-color: var(--Cor_terciaria);
    text-align: center;
    color: var(--cor_principal);
    padding: 24px;
    
}



@media (max-width: 1200px){
    .apresentacao{
        flex-direction: column-reverse;
    }
}