
/*--------------------------BOYD E DIV DO BODY----------------------------*/
html{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/img-fundo.webp);
    background-size: 5700px;
    font-size: 20px;
    color: #DDD;

}

   
.conteiner {
    max-width: 1200px;
	position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
	padding: 20px 50px;
	background-color: rgb(2, 2, 2);
  
}

.habilidades{
    color: rgb(31, 128, 60);
}

.destaque {
    font-weight: bold;
}

.cabeçalho{
    text-align: center;

}
.titulo-pricipal {
    font-size: 40px;
}
.paragrafo-principal{
    font-style: italic;
}

/*--------------------------BODY----------------------------*/

.img-destaque {
    text-align: center;
    margin-top: 30px;
}

/*--------------------------BIOGRAFIA CONTEINER----------------------------*/

.biografia-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
}

/*Citação*/

.frase-container {
    background-color: rgb(32, 73, 52);
    padding: 30px;
}
.frase-container blockquote{
    font-weight: 600;
    font-size: 30px;
}

.font-container {
    font-style: italic;
}
.linha{
    padding: 10px;
    border-bottom: 1px dashed rgb(255, 249, 249);
}
/*Curisosidade*/
.curiosidades-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed rgb(255, 251, 251);
    border-bottom: 1px dashed rgb(255, 249, 249);
}
.curiosidades-container li {
    height: 70px;
}
.Referência{
    text-align: center;
}